body {
  background-color: #fcebb6;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
  background-image: url("images/fadedroad50.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  color: #8c3826;
  background-color: #d2b48c;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
h1 {
  font-size: 3em;
}
h2 {
  color: #8c3826;
}
h3 {
  color: #8c3826;
}
h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
}
dt {
  color: #d2b48c;
}
nav {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav a {
  text-decoration: none;
}
.details {
  padding-left: 20%;
  padding-right: 20%;
}
main {
  margin-left: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  display: block;
}
footer {
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  border-top: 2px #8c3826;
}
#wrapper {
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 3px 6px;
  width: 80%;
  background-color: #fefaeb;
  margin-right: auto;
  margin-left: auto;
}
#mugs {
  max-width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  flex-basis: 40%;
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
/* This was in the instructions but causes the image to be off center
/* img {
  padding-left: 10px;
  padding-right: 10px;
} */
#homehero {
  height: 300px;
  background-image: url(images/hero.jpg);
  background-repeat: no-repeat;
}
