javascript-essential-training-2832077-main/.eslintrc.js
javascript-essential-training-2832077-main/.gitignore
javascript-essential-training-2832077-main/CONTRIBUTING.md
javascript-essential-training-2832077-main/JavaScript Essential Training Resources.pdf
javascript-essential-training-2832077-main/LICENSE
javascript-essential-training-2832077-main/NOTICE
javascript-essential-training-2832077-main/package-lock.json
javascript-essential-training-2832077-main/package.json
javascript-essential-training-2832077-main/README.md
javascript-essential-training-2832077-main/.github/CODEOWNERS
javascript-essential-training-2832077-main/.github/ISSUE_TEMPLATE.md
javascript-essential-training-2832077-main/.github/PULL_REQUEST_TEMPLATE.md
javascript-essential-training-2832077-main/.vscode/settings.json
javascript-essential-training-2832077-main/01_01/Photo.js
javascript-essential-training-2832077-main/01_04/index.html
javascript-essential-training-2832077-main/01_04/script.js
javascript-essential-training-2832077-main/01_05/index.html
javascript-essential-training-2832077-main/01_05/script.js
javascript-essential-training-2832077-main/01_06/index.html
javascript-essential-training-2832077-main/01_06/script.js
javascript-essential-training-2832077-main/02_01/index.html
javascript-essential-training-2832077-main/02_02/index.html
javascript-essential-training-2832077-main/02_02/script.js
javascript-essential-training-2832077-main/02_03/index.html
javascript-essential-training-2832077-main/02_03/script.js
javascript-essential-training-2832077-main/02_04/backpack.js
javascript-essential-training-2832077-main/02_04/index.html
javascript-essential-training-2832077-main/02_04/script.js
javascript-essential-training-2832077-main/03_02/index.html
javascript-essential-training-2832077-main/03_02/script.js
javascript-essential-training-2832077-main/03_03/index.html
javascript-essential-training-2832077-main/03_03/script.js
javascript-essential-training-2832077-main/03_04/index.html
javascript-essential-training-2832077-main/03_04/script.js
javascript-essential-training-2832077-main/03_05/index.html
javascript-essential-training-2832077-main/03_05/script.js
javascript-essential-training-2832077-main/03_06/index.html
javascript-essential-training-2832077-main/03_06/script.js
javascript-essential-training-2832077-main/03_08/index.html
javascript-essential-training-2832077-main/03_08/script.js
javascript-essential-training-2832077-main/03_08e/index.html
javascript-essential-training-2832077-main/03_08e/script.js
javascript-essential-training-2832077-main/03_10/Backpack.js
javascript-essential-training-2832077-main/03_10/index.html
javascript-essential-training-2832077-main/03_10/script.js
javascript-essential-training-2832077-main/03_11/index.html
javascript-essential-training-2832077-main/03_11/script.js
javascript-essential-training-2832077-main/03_13/Backpack.js
javascript-essential-training-2832077-main/03_13/index.html
javascript-essential-training-2832077-main/03_13/script.js
javascript-essential-training-2832077-main/03_13e/Backpack.js
javascript-essential-training-2832077-main/03_13e/index.html
javascript-essential-training-2832077-main/03_13e/script.js
javascript-essential-training-2832077-main/03_14/Backpack.js
javascript-essential-training-2832077-main/03_14/index.html
javascript-essential-training-2832077-main/03_14/script.js
javascript-essential-training-2832077-main/03_15/Backpack.js
javascript-essential-training-2832077-main/03_15/Book.js
javascript-essential-training-2832077-main/03_15/index.html
javascript-essential-training-2832077-main/03_15/script.js
javascript-essential-training-2832077-main/04_01/Backpack.js
javascript-essential-training-2832077-main/04_01/index.html
javascript-essential-training-2832077-main/04_01/script.js
javascript-essential-training-2832077-main/04_01e/Backpack.js
javascript-essential-training-2832077-main/04_01e/index.html
javascript-essential-training-2832077-main/04_01e/script.js
javascript-essential-training-2832077-main/04_02/Backpack.js
javascript-essential-training-2832077-main/04_02/index.html
javascript-essential-training-2832077-main/04_02/script.js
javascript-essential-training-2832077-main/04_02e/Backpack.js
javascript-essential-training-2832077-main/04_02e/index.html
javascript-essential-training-2832077-main/04_02e/script.js
javascript-essential-training-2832077-main/05_02/Backpack.js
javascript-essential-training-2832077-main/05_02/index.html
javascript-essential-training-2832077-main/05_02/script.js
javascript-essential-training-2832077-main/05_03/Backpack.js
javascript-essential-training-2832077-main/05_03/index.html
javascript-essential-training-2832077-main/05_03/script.js
javascript-essential-training-2832077-main/05_05/Backpack.js
javascript-essential-training-2832077-main/05_05/index.html
javascript-essential-training-2832077-main/05_05/script.js
javascript-essential-training-2832077-main/05_06/Backpack.js
javascript-essential-training-2832077-main/05_06/index.html
javascript-essential-training-2832077-main/05_06/script.js
javascript-essential-training-2832077-main/05_07/Backpack.js
javascript-essential-training-2832077-main/05_07/index.html
javascript-essential-training-2832077-main/05_07/script.js
javascript-essential-training-2832077-main/05_09/Backpack.js
javascript-essential-training-2832077-main/05_09/index.html
javascript-essential-training-2832077-main/05_09/script.js
javascript-essential-training-2832077-main/05_09e/Backpack.js
javascript-essential-training-2832077-main/05_09e/index.html
javascript-essential-training-2832077-main/05_09e/script.js
javascript-essential-training-2832077-main/05_10/Backpack.js
javascript-essential-training-2832077-main/05_10/index.html
javascript-essential-training-2832077-main/05_10/script.js
javascript-essential-training-2832077-main/05_11/Backpack.js
javascript-essential-training-2832077-main/05_11/index.html
javascript-essential-training-2832077-main/05_11/script.js
javascript-essential-training-2832077-main/06_02/index.html
javascript-essential-training-2832077-main/06_02/script.js
javascript-essential-training-2832077-main/06_03/index.html
javascript-essential-training-2832077-main/06_03/script.js
javascript-essential-training-2832077-main/06_04/index.html
javascript-essential-training-2832077-main/06_04/script.js
javascript-essential-training-2832077-main/06_05/index.html
javascript-essential-training-2832077-main/06_05/script.js
javascript-essential-training-2832077-main/06_06/index.html
javascript-essential-training-2832077-main/06_06/script.js
javascript-essential-training-2832077-main/06_07/index.html
javascript-essential-training-2832077-main/06_07/script.js
javascript-essential-training-2832077-main/06_08/index.html
javascript-essential-training-2832077-main/06_08/script.js
javascript-essential-training-2832077-main/07_02/index.html
javascript-essential-training-2832077-main/07_02/script.js
javascript-essential-training-2832077-main/07_03/index.html
javascript-essential-training-2832077-main/07_03/script.js
javascript-essential-training-2832077-main/07_04/index.html
javascript-essential-training-2832077-main/07_04/script.js
javascript-essential-training-2832077-main/07_05/index.html
javascript-essential-training-2832077-main/07_05/script.js
javascript-essential-training-2832077-main/08_02/index.html
javascript-essential-training-2832077-main/08_02/script.js
javascript-essential-training-2832077-main/08_03/index.html
javascript-essential-training-2832077-main/08_03/script.js
javascript-essential-training-2832077-main/08_04/index.html
javascript-essential-training-2832077-main/08_04/script.js
javascript-essential-training-2832077-main/08_05/index.html
javascript-essential-training-2832077-main/08_05/script.js
javascript-essential-training-2832077-main/08_05e/index.html
javascript-essential-training-2832077-main/08_05e/script.js
javascript-essential-training-2832077-main/08_07/index.html
javascript-essential-training-2832077-main/08_07/script.js
javascript-essential-training-2832077-main/08_07e/index.html
javascript-essential-training-2832077-main/08_07e/script.js
javascript-essential-training-2832077-main/08_08/index.html
javascript-essential-training-2832077-main/08_08/script.js
javascript-essential-training-2832077-main/08_08e/index.html
javascript-essential-training-2832077-main/08_08e/script.js
javascript-essential-training-2832077-main/08_10/index.html
javascript-essential-training-2832077-main/08_10/script.js
javascript-essential-training-2832077-main/08_10e/index.html
javascript-essential-training-2832077-main/08_10e/script.js
javascript-essential-training-2832077-main/08_11/Backpack.js
javascript-essential-training-2832077-main/08_11/index.html
javascript-essential-training-2832077-main/08_11/script.js
javascript-essential-training-2832077-main/08_11e/Backpack.js
javascript-essential-training-2832077-main/08_11e/index.html
javascript-essential-training-2832077-main/08_11e/script.js
javascript-essential-training-2832077-main/08_12/Backpack.js
javascript-essential-training-2832077-main/08_12/index.html
javascript-essential-training-2832077-main/08_12/script.js
javascript-essential-training-2832077-main/08_13/Backpack.js
javascript-essential-training-2832077-main/08_13/index.html
javascript-essential-training-2832077-main/08_13/script.js
javascript-essential-training-2832077-main/08_13e/Backpack.js
javascript-essential-training-2832077-main/08_13e/index.html
javascript-essential-training-2832077-main/08_13e/script.js
javascript-essential-training-2832077-main/08_14/index.html
javascript-essential-training-2832077-main/08_14/script.js
javascript-essential-training-2832077-main/08_15/index.html
javascript-essential-training-2832077-main/08_15/script.js
javascript-essential-training-2832077-main/08_15e/index.html
javascript-essential-training-2832077-main/08_15e/script.js
javascript-essential-training-2832077-main/08_16/index.html
javascript-essential-training-2832077-main/08_16/script.js
javascript-essential-training-2832077-main/08_16/components/Backpack.js
javascript-essential-training-2832077-main/08_16/components/data.js
javascript-essential-training-2832077-main/08_17/index.html
javascript-essential-training-2832077-main/08_17/script.js
javascript-essential-training-2832077-main/08_17/components/Backpack.js
javascript-essential-training-2832077-main/08_17/components/data.js
javascript-essential-training-2832077-main/09_02/index.html
javascript-essential-training-2832077-main/09_02/script.js
javascript-essential-training-2832077-main/09_03/index.html
javascript-essential-training-2832077-main/09_03/script.js
javascript-essential-training-2832077-main/09_03/components/Backpack.js
javascript-essential-training-2832077-main/09_03/components/data.js
javascript-essential-training-2832077-main/09_03e/index.html
javascript-essential-training-2832077-main/09_03e/script.js
javascript-essential-training-2832077-main/09_03e/components/Backpack.js
javascript-essential-training-2832077-main/09_03e/components/data.js
javascript-essential-training-2832077-main/09_05/index.html
javascript-essential-training-2832077-main/09_05/script.js
javascript-essential-training-2832077-main/09_05/components/Backpack.js
javascript-essential-training-2832077-main/09_05/components/data.js
javascript-essential-training-2832077-main/09_05e/index.html
javascript-essential-training-2832077-main/09_05e/script.js
javascript-essential-training-2832077-main/09_05e/components/Backpack.js
javascript-essential-training-2832077-main/09_05e/components/data.js
javascript-essential-training-2832077-main/09_06/index.html
javascript-essential-training-2832077-main/09_06/script.js
javascript-essential-training-2832077-main/09_06/components/Backpack.js
javascript-essential-training-2832077-main/09_06/components/data.js
javascript-essential-training-2832077-main/09_07/index.html
javascript-essential-training-2832077-main/09_07/script-advanced.js
javascript-essential-training-2832077-main/09_07/script-intermediate.js
javascript-essential-training-2832077-main/09_07/components/Backpack.js
javascript-essential-training-2832077-main/09_07/components/data.js
javascript-essential-training-2832077-main/09_08/index.html
javascript-essential-training-2832077-main/09_08/script.js
javascript-essential-training-2832077-main/09_08/components/Backpack.js
javascript-essential-training-2832077-main/09_08/components/data.js
javascript-essential-training-2832077-main/10_01/index.html
javascript-essential-training-2832077-main/10_01/script.js
javascript-essential-training-2832077-main/10_01/components/Backpack.js
javascript-essential-training-2832077-main/10_01/components/data.js
javascript-essential-training-2832077-main/10_02/Photo.js
javascript-essential-training-2832077-main/assets/style.css
javascript-essential-training-2832077-main/assets/images/everyday.svg
javascript-essential-training-2832077-main/assets/images/frog.svg
javascript-essential-training-2832077-main/Practice/03_07/index.html
javascript-essential-training-2832077-main/Practice/03_07/script.js
javascript-essential-training-2832077-main/Practice/03_09/index.html
javascript-essential-training-2832077-main/Practice/03_09/script.js
javascript-essential-training-2832077-main/Practice/03_12/Backpack.js
javascript-essential-training-2832077-main/Practice/03_12/index.html
javascript-essential-training-2832077-main/Practice/03_12/script.js
javascript-essential-training-2832077-main/Practice/05_04/index.html
javascript-essential-training-2832077-main/Practice/05_04/script.js
javascript-essential-training-2832077-main/Practice/05_08/index.html
javascript-essential-training-2832077-main/Practice/05_08/script.js
javascript-essential-training-2832077-main/Practice/08_06/index.html
javascript-essential-training-2832077-main/Practice/08_06/script.js
javascript-essential-training-2832077-main/Practice/08_09/index.html
javascript-essential-training-2832077-main/Practice/08_09/script-example.js
javascript-essential-training-2832077-main/Practice/08_09/script.js
javascript-essential-training-2832077-main/Practice/09_04/index.html
javascript-essential-training-2832077-main/Practice/09_04/script-example.js
javascript-essential-training-2832077-main/Practice/09_04/script.js
javascript-essential-training-2832077-main/Practice/09_04/style.css
Front End Programming/reservation/index.html
Front End Programming/reservation/reservation.css
Front End Programming/reservation/reservation.js
Front End Programming/reservation/response.html
Practice/index.html
Practice/script.js
Practice/test/index.html
Practice/test/script.js
