body {
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  margin: 0 auto;
  width: 600px;
  border: 4px solid green;
  padding: 0 2em 1em;
}

h1 {
  color: red;
}

div {
  margin-bottom: 1em;
}
label {
  display: inline-block;
  width: 10em;
  margin-right: 0.5em;
  text-align: right;
}
mpg {
  background-color: antiquewhite;
}
