body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0 auto;
    width: 600px;
    border: 3px orange;
    padding: 0 2em 1em;
}

h1 {
    color: orange;
}

p {
    color:red
}

legend {
    color: orange;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

div{
    margin-bottom: 0.5em;
}

span{
    color: crimson;
}

label {
    display: inline-block;
    width: 6em;
}

input, select {
    margin-left: 1em;
    margin-right: 0.5em;
}

input {
    width: 13em;	
}

input.left {
	width: 1em;
	padding-left: 0;
}
#convertible {
	width: 1em;
	margin-left: 0;
}

#submit {
	margin-left: 0;
	width: 10em;
}